<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Properties>
        <Property name="logFileName">daily-log</Property><!-- 생성될 로그파일 이름-->
        <Property name="logErrorFileName">daily-error-log</Property><!-- 생성될 에러로그파일 이름-->
        <Property name="BASE_DIR">/root/logs</Property><!-- 로그파일이 생성될 경로-->

        <Property name="consoleLayout">%style{%d{ISO8601}}{black} %highlight{%-5level}[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable</Property><!-- 콘솔에 생성될 로그 레이아웃-->
        <Property name="fileLayout">%d [%t] %-5level %c(%M:%L) - %m%n</Property><!-- 파일에 생성될 로그 레이아웃-->
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleLayout}" charset="UTF-8"/>
        </Console>

        <RollingFile name="file" fileName="logs/${logFileName}.log" filePattern="logs/${logFileName}.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${fileLayout}" />
            <LevelRangeFilter minLevel="ERROR" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy modulate="true" interval="1" /><!-- 일별 로그 파일 생성-->
            </Policies>
            <DefaultRolloverStrategy max="25" fileIndex="min" >
                <Delete basePath="${BASE_DIR}">
                    <IfFileName glob="*.log" />
                    <IfLastModified age="10d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="errorFile" fileName="logs/${logErrorFileName}.log" filePattern="logs/${logErrorFileName}.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${fileLayout}" />
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy modulate="true" interval="1" /><!-- 일별 로그 파일 생성-->
            </Policies>
            <DefaultRolloverStrategy max="25" fileIndex="min" >
                <Delete basePath="${BASE_DIR}">
                    <IfFileName glob="*.log" />
                    <IfLastModified age="10d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
            <AppenderRef ref="errorFile"/>
        </Root>

        <!-- springframework logger -->
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="file"/>
            <AppenderRef ref="errorFile"/>
        </Logger>

    </Loggers>
</Configuration>